* {
    box-sizing: border-box;
    margin: 0;
}

#mycanvas {
    position: absolute;
    left: 50%;
    top: 50%;

    margin-top: -300px;
    margin-left: -300px;

    background-color: black;
}

.players, .dificuldades {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.players button {
    margin: 10px 20px;
    font-size: 18pt;
}

.dificuldades {
    margin-top: 50px;
}

.dificuldades h2 {
    font-size: 14pt;
    margin-left: 20px;
}

.dificuldades button {
    margin: 10px 20px;
    font-size: 18pt;
}

.reset {
    margin: 20px 20px;
    font-size: 18pt;
    color: white;
    background-color: #ff0000;

    border-radius: 4px;
    outline: none;

    width: 200px;
}
