body {
    overflow: hidden;
}

#modalFim {
    min-height: 100vh;
    position: relative;

    display: none;
}

#modalFim .dialog {
    display: none;
}

#modalFim h1 {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

#modalFim tbody tr {
    transition: all 500ms;
}

#modalFim tbody tr:hover {
    background-color: rgba(131, 126, 126, 0.329);
    cursor: pointer;
}

#modalFim button {
    font-weight: 700;
    position: absolute;
    bottom: 3rem;
    left: 0;
}
