body {
    overflow: hidden;
}

#modalFim {
    min-height: 100vh;
    position: relative;
}

#modalFim .dialog {
    display: none;
}

#modalFim h1 {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

#modalFim button {
    font-weight: 700;
    position: absolute;
    bottom: 3rem;
    left: 0;
}
