/* body {
    overflow: hidden;
} */

.container {
    padding: 0;
}

#modalInicio {
    height: 100vh;

    position: relative;

    /* display: none; */
}

#modalInicio form {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


#modalInicio .playerDiv {
    display: flex;
    flex-direction: column;

    margin-bottom: 3rem;
    margin-top: 3rem;
}


#modalInicio .playerDiv input {
    width: 30vw;
    padding: .375rem .75rem;
    margin-top: 5px;
}

#modalInicio .playerDiv label {
    font-weight: 700;
}

#modalInicio .dialog {
    display: none;
}

#modalInicio h1 {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#modalInicio button {
    font-weight: 700;
    width: 30vw;

}

#modalInicio .input-group {
    margin-bottom: 2rem;
}


